<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微信支付</title>
</head>
<body>
<h1 style="font-size: 300%">微信关注公众号[体育生阿泽]，赞赏完付款截图发qq客服 2707829034</h1>
    <img th:src="@{/image/Wbuu3.jpg}">
    <br>
    <br>
    <img th:src="@{/image/Wbuu2.jpg}">
    <br>
    <br>
    <img th:src="@{/image/Wbuu1.jpg}">

<h1 style="font-size: 300%">微信关注公众号[体育生阿泽]，赞赏完付款截图发qq客服 2707829034</h1>
<a style="font-size: 300%" th:href="@{/index}"> 返回目录</a>
</body>
</html>
