<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源目录</title>
</head>
<body>
<br>
<br>
<h1 style="font-size: 300%;color: red">---------------------------------------------------------------------------------------------</h1>
<h1 style="font-size: 300%;color: red">全部打包：50元(本页面的所有内容都包含)</h1>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
    <br>
    <br>
<h1 style="font-size: 300%;color: red">---------------------------------------------------------------------------------------------</h1>
<br>
<br>
<br>

<h1 style="font-size: 300%">本人资源：30元（共15部，每部几分钟到十几分钟时长）</h1>
<br>
<br>
<br>
<img th:src="@{/image/br1.png}">
<img width="64%" height="64%"th:src="@{/image/br2.jpg}">
<img  width="64%" height="64%" th:src="@{/image/br3.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
    <br>
    <br>

<h1 style="font-size: 300%">本人宿舍粗口系列：20元（20分钟以上，声优级别）</h1>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Rc3456.jpg}">
<br>
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>

<br>
<br>
<br>
<h1 style="font-size: 300%">两米男高中生（宾馆）:4元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Bgttn.jpg}">
<br>
    <br>
    <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
        <br>
        <br>
<br>
<br>
<h1 style="font-size: 300%">极品体育生和女友（喂套套，经耶，打屁股）20分钟永动机，超长持久:8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Huiin.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Rbggu.jpg}">
<br>
        <br>
        <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/> >
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
            <br>
            <br>
<br>
<br>
<br>
<h1 style="font-size: 300%">佐西木豪联名作:8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Zxoop.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Zxrrn.jpg}">
<br>
            <br>
            <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                <br>
                <br>
<br>
<br>
<h1 style="font-size: 300%">南王系列（24号帅弟弟，二十分钟以上）:4元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Nwaa.jpg}">
<br>
                <br>
                <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                    <br>
                    <br>
<br>
<h1 style="font-size: 300%">北体俊哥，体育生系列（带粗口27部）:8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Bt111.jpg}">
<br>
                    <br>
                    <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                        <br>
                        <br>
<br>
<br>
<h1 style="font-size: 300%">00后体育小奶狗（37部,j大）:8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/XNtt.jpg}">
<img  width="64%" height="64%" th:src="@{/image/XNyy.jpg}">
<br>
                        <br>
                        <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                            <br>
                            <br>
<br>
<h2 style="font-size: 300%">小蓝视频破解版+gtv破解版:20元（无限看，永久使用，不随官方版本升级失效）单个软件15元</h2>
<br>
<br>
<br>
<br>
<h2 style="font-size: 300%">小蓝视频破解版</h2>
<br>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/XL.jpg}">
<br>
<br>
<br>
<br>
<h2 style="font-size: 300%">gtv破解版</h2>
<img  width="64%" height="64%" th:src="@{/image/GTV111.jpg}">
<br>
<br>
                            <br>
                            <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                                <br>
                                <br>
<br>
<h1 style="font-size: 300%">安卓版推特:15元</h1>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Ta111.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Ta222.jpg}">
<br>
<br>
                                <br>
                                <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                                    <br>
                                    <br>
<br>
<br>
<h1 style="font-size: 300%">安卓加速器破解版:15元（永久vip，速度飞速）</h1>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Wuu1.jpg}">
<br>
<br>
                                    <br>
                                    <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                                        <br>
                                        <br>
<br>
<script>
    function myfunction(){
        window.location.href="https://4ho.cn/paypage/?merchant=aae78Z1XJBNm4IRDR9IqDZTdjeUCIXHFdF%2BkzIpjLfEO";
    }
    function zffunction(){
        window.location.href="Zfb";
    }
</script>
</body>
</html>