<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源目录</title>
</head>
<body>
<br>
<br>
<h1 style="font-size: 300%;color: red">---------------------------------------------------------------------------------------------</h1>
<h1 style="font-size: 300%;color: red">吃瓜群：30元(主更帅哥视频，并且不断更新)</h1>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
    <br>
    <br>
<h1 style="font-size: 300%;color: red">---------------------------------------------------------------------------------------------</h1>
<br>
<br>
<br>


<h1 style="font-size: 300%">本人宿舍粗口系列：20元（20分钟以上，声优级别）</h1>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Rc3456.jpg}">
<br>
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>
<h1 style="font-size: 300%">两米男高中生（宾馆）:2.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Bgttn.jpg}">
<br>
    <br>
    <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付" />
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
        <br>
        <br>
<br>
<br>
<h1 style="font-size: 300%">极品体育生和女友（喂套套，经耶，打屁股）20分钟永动机，超长持久:6.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Huiin.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Rbggu.jpg}">
<br>
        <br>
        <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/> >
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
            <br>
            <br>
<br>
<br>
<br>
<h1 style="font-size: 300%">佐西木豪联名作:5.3元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Zxoop.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Zxrrn.jpg}">
<br>
            <br>
            <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                <br>
                <br>
<br>
<br>
<h1 style="font-size: 300%">南王系列（24号帅弟弟，二十分钟以上）:4元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Nwaa.jpg}">
<br>
                <br>
                <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                    <br>
                    <br>
<br>
<h1 style="font-size: 300%">北体俊哥，体育生系列（带粗口27部）:8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Bt111.jpg}">
<br>
                    <br>
                    <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                        <br>
                        <br>
<br>






<br>
<br>
<h1 style="font-size: 300%">网红乐仔全集29部：8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Lezw.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>




<br>
<br>
<h1 style="font-size: 300%">黑皮帅哥精品19部：4.9元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Hwoop.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>




<br>
<br>
<h1 style="font-size: 300%">红色蜘蛛侠头套肌肉男，抹上精油然后开始导，最后还射到脸上了，射的好远：2.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Zuppn.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>



<br>
<br>
<h1 style="font-size: 300%">抖音肌肉网红，秀肌肉和大屌.完美15分钟：3.5元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Dybcv.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>



<br>
<br>
<h1 style="font-size: 300%">伟仔被伪娘勾引，两人玩cos，最后把伪娘抱起来c（22分钟）：4.3元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Wpmmn.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>



<br>
<br>
<h1 style="font-size: 300%">篮球体育生宿舍打飞机合集！看样子经常在宿舍里面导，舍友都不在吗？46分钟：5.9元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Lqxxv.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>


<br>
<br>
<h1 style="font-size: 300%">寸头黑皮体育生，穿黑袜闻自己的鞋子！而且还把大雕放到鞋子里zw：5.7元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Htxxc.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Wmssf.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>




<br>
<br>
<h1 style="font-size: 300%">韩国高中生在家打飞机，奶狗脸，狼狗身材！有八块腹肌哦，18分钟：4.3元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Hgng.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>


<br>
<br>
<h1 style="font-size: 300%">帅气男高厕所合集，每次回家都要打一发，而且每次都录下来：4.6元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Rcssl.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>
<br>



























<br>
<h1 style="font-size: 300%">抖音大一学长，在宿舍30分钟:4.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Dyoop.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Dtnnm.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>



<br>
<h1 style="font-size: 300%">精装蜘蛛侠腹肌头套:2.1元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Zuppl.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>


<br>
<h1 style="font-size: 300%">高中学长上网课忘关摄像头然后开始打飞机（30分钟）:5.1元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Wkeep.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>

<br>
<h1 style="font-size: 300%">推特知名网红，纹身➕巨蟒各种写真➕打飞机超欲:4.1元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Jmssp.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>



<br>
<h1 style="font-size: 300%">篮球体育生打完球在客厅就开始打飞机:3.4元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Lqccr.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>



<br>
<h1 style="font-size: 300%">呆萌高中生在厕所打飞机️，最后还把门开开打，好猛:3.7元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Dmiiu.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>

<br>
<h1 style="font-size: 300%">推特帅哥网红被C，叫声很nice哦！叫了十几分钟嗓子都哑了:4.5元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Trccp.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>



<br>
<h1 style="font-size: 300%">肌肉帅哥双视角️果然身材好的都很大:3.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Jrppm.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>




<br>
<h1 style="font-size: 300%">体育生白袜踩脸视角，粗口➕打飞机very nice（10分钟）:5.1元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Tukkl.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>



<br>
<h1 style="font-size: 300%">帅哥对镜自鲁，最后射到镜子上,18cm大雕:3.8元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Sg33c.jpg}">
<br>
<br>
<button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
<br>
<br>


<br>




<br>
<h1 style="font-size: 300%">00后体育小奶狗（37部,j大）:6.9元</h1>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/XNtt.jpg}">
<img  width="64%" height="64%" th:src="@{/image/XNyy.jpg}">
<br>
                        <br>
                        <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                            <br>
                            <br>
<br>
<h2 style="font-size: 300%">小蓝视频破解版+gtv破解版:20元（无限看，永久使用，不随官方版本升级失效）单个软件15元</h2>
<br>
<br>
<br>
<br>
<h2 style="font-size: 300%">小蓝视频破解版</h2>
<br>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/XL.jpg}">
<br>
<br>
<br>
<br>
<h2 style="font-size: 300%">gtv破解版</h2>
<img  width="64%" height="64%" th:src="@{/image/GTV111.jpg}">
<br>
<br>
                            <br>
                            <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                                <br>
                                <br>
<br>
<h1 style="font-size: 300%">安卓版推特:15元</h1>
<br>
<br>
<br>
<img  width="64%" height="64%" th:src="@{/image/Ta111.jpg}">
<img  width="64%" height="64%" th:src="@{/image/Ta222.jpg}">
<br>
<br>
                                <br>
                                <button onclick="myfunction()" style="background-color: #adff2f;height: 100px;width: 700px;font-size: 350%" th:text="立即支付"/>
<h1 style="font-size: 200%">支付完截图发客服：2707829034</h1>
                                    <br>
                                    <br>
<br>

<script>
    function myfunction(){
        window.location.href="https://qr.alipay.com/fkx11039bumrmy9bcn5ema0";
    }
    function zffunction(){
        window.location.href="Zfb";
    }
</script>
</body>
</html>