<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.p2p.mapper.loan.RefundMapper">
    <resultMap id="BaseResultMap" type="com.financial.p2p.model.Refund">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
        <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
        <result column="out_refund_no" jdbcType="VARCHAR" property="outRefundNo" />
        <result column="refund" jdbcType="INTEGER" property="refund" />
        <result column="total" jdbcType="INTEGER" property="total" />
        <result column="currency" jdbcType="VARCHAR" property="currency" />
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, transaction_id, out_trade_no, out_refund_no, refund, total,currency
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from u_refund_sth
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from u_refund_sth
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.financial.p2p.model.Refund">
        insert into u_refund_sth ( id, uid, transaction_id, out_trade_no,
                                       out_refund_no, refund, total,currency)
        values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{transactionId,jdbcType=VARCHAR},
                #{outTradeNo,jdbcType=VARCHAR}, #{outRefundNo,jdbcType=VARCHAR}, #{refund,jdbcType=INTEGER},
                #{total,jdbcType=DOUBLE},#{currency,jdbcType=VARCHAR})
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.financial.p2p.model.Refund">
        update u_refund_sth
        set id=#{id,jdbcType=INTEGER},
            uid=#{uid,jdbcType=INTEGER},
            transaction_id=#{transaction_id,jdbcType=VARCHAR},
            out_trade_no=#{out_trade_no,jdbcType=VARCHAR},
             out_refund_no=#{out_refund_no,jdbcType=VARCHAR},
            refund=#{refund,jdbcType=INTEGER},
            total=#{total,jdbcType=INTEGER},
            currency=#{currency,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
<!--    根据订单号查询列表-->
    <select id="selectByOrderNo" resultMap="BaseResultMap">
        select
<include refid="Base_Column_List"/>
from u_refund_sth where out_trade_no=#{ordero}
    </select>
<!--导入退款单-->
    <update id="updateByoutOrderNo">
        update u_refund_sth set out_refund_no=#{outRefundNo}
where out_trade_no=#{out_trade_no}
    </update>

</mapper>