<html xmlns:th="http://www.thymeleaf.org">
<div id="subNav" class="subNav">
<div class="mainBox">
    <ul>
<!--      <li><a id="overView" th:href="@{/loan/myCenter}" class="on">总览</a></li>-->
        <li><a id="myAccount1" th:href="@{/return}">-</a></li>
        <li><a id="myAccount2" th:href="@{/return}"> -</a></li>
        <li><a id="myAccount3" th:href="@{/return}">-</a></li>
        <li><a id="myAccount4" th:href="@{/return}">-</a></li>
        <li><a id="myAccount" th:href="@{/return}">龙函电子商务</a></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
</html>