# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\javanote\项目\springboot项目（金融，借代）\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
